@model Hovis.Web.Base.Models.t_HovisVPD_Contact_Mode_Drop_Down

@{
    ViewBag.Title = "Details";
}

<div class="content-wrap">
    <div class="center-wrapper text-left">
        <div class="center-content">
            <div class="subscription col-md-6 col-md-offset-3 bg-white">

                <div>
                    <h4>Contact details</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ContactDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ContactDescription)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>
</div>
