@{
    ViewBag.Title = "Title Here";
}

<header class="header">
    <h2>Content Here</h2>
</header>
<!-- content wrapper -->
<div class="content-wrap">

    <div class="row">
        <div class="col-md-12">
            <p>
                Replace Me.
            </p>
        </div>
    </div>
</div>
<!-- /content wrapper -->