@model Hovis.Web.Base.Models.t_HovisVPD_Supplier_Rating_Drop_Down

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_HovisVPD_Supplier_Rating_Drop_Down</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RatingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
