<ul>
    <li>
        <a href="index.html">
            <i class="fa fa-coffee"></i>
            <span>Menu</span>
        </a>
    </li>
    <li class="dropdown show-on-hover">
        <a href="javascript:;" data-toggle="dropdown">
            <i class="fa fa-ellipsis-h"></i>
            <span>Menu With Dropdown</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="buttons.html">
                    <span>Buttons</span>
                </a>
            </li>
            <li>
                <a href="forms.html">
                    <span>Forms</span>
                </a>
            </li>
            <li>
                <a href="tables.html">
                    <span>Tables</span>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <span>Icons</span>
                </a>
            </li>
            <li>
                <a href="grid.html">
                    <span>Grid</span>
                </a>
            </li>
        </ul>
    </li>
</ul>