<header class="header">
    <h3>Not Authorised</h3>
</header>
<div class="content-wrap">
    <div class="row">

        <div class="col-md-12">

            <section class="panel">
                <div class="panel-body ">

                    You are not authorised to view that page.
                </div>
            </section>
        </div>
    </div>
</div>